<div class="card text-center shadow border-0 card-hover bg-dark text-white card-personalizada" style="width: 24rem;">
<img [src]="baseUrl + foto" class="card-img-top rounded-circle mx-auto mt-3 avatar-img" alt="{{nombre}}" style="width:110px; height:110px; object-fit:cover;">  <div class="card-body">
    <h5 class="card-title">{{nombre}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Autor del Proyecto</h6>
    <p class="card-text text-secondary mb-2 text-white" style="font-size:1.06rem;">
      {{ description }}
    </p>
    <div class="d-flex justify-content-center gap-4 mt-3 text-white-links">
    <a href="{{linkedin}}" target="_blank" class="card-link"><i class="bi bi-linkedin"></i> LinkedIn</a>
    <a href="{{github}}" target="_blank" class="card-link"><i class="bi bi-github"></i> GitHub</a>
    </div>
  </div>
</div>
